.smart-filter__popover {
  background: #383838;
  margin-top: -15px;
  @media (max-width: $screen-xs-max) {
    &.popover {
      position: static;
      box-shadow: none;
      width: 100%;
      max-width: 100%;
      border: none;
      display: block;
      &.right {
        margin-left: 0px;
      }
      > .arrow {
        display: none;
      }
    }
    .popover-content {
      padding-left: 0;
    }
  }

}