.card__quick-view {
  color: #fff;
  background: rgba(54, 54, 54, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  line-height: 1.1;
  font-size: 12px;
  text-transform: uppercase;
  padding: 11px 0 7px 0;
  display: block;
  text-align: center;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  height: 0px;
  overflow: hidden;
  padding: 0;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
  .no-touch .card:hover &{
    transform: translateY(0);
    height: 44px;
    padding: 11px 0 7px 0;
  }
}
