.cart__block {
  padding: 15px 15px 50px 15px;
  width: 295px;
  left: auto;
  right: 0;
  &:before {
    left: auto;
    right: 74px;
  }
  @media (max-width: $screen-xs-max) {
    &:before {
      right: 22px;
    }
  }
}