.title_thin {
  font-weight: 100;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  @media (max-width: $screen-xs-max) {
      text-align: center;
    font-size: 28px;
  }
}