.selection-block__letter-list {
  list-style: none;
  padding-left: 0;
  margin-left: 99px;
  padding-top: 10px;
  margin-right: 80px;
  column-count: 5;
  @media (max-width: $screen-md-max) {
    column-count: 4;
  }
  @media (max-width: $screen-sm-max) {
    column-count: 2;
  }
  @media (max-width: $screen-xs-max) {
    column-count: 1;
  }
}