.card__quick-view-text {
  display: inline-block;
  text-align: left;
  position: relative;
  padding-left: 38px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("../../../../images/card/search.png");
    left: 3px;
  }
}