.slider-reviews__info {
  position: absolute;
  top: 0;
  background: rgba(37, 37, 36, 0.9);
  height: 100%;
  width: 100%;
  padding: 20px 28px;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 130px;
    left: 0;
    bottom: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(37, 37, 36, 0.9) 45%);
  }
  .slider-reviews__item:hover & {
    transform: translateY(0);
  }
}