.card__favorites_active {
  background-position: bottom center;
  animation: cardFavoritesActive 0.4s ease-in-out;
  opacity: 1;
}
@keyframes cardFavoritesActive {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  85%{
    transform: scale(5);
    opacity: 0;
  }
  99%{
    transform: scale(1);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
