.menu__list {
  @include clearfix;
  @media (min-width: $screen-md-min) {
    display: block!important;
    height: auto!important;
  }
  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin-top: 43px;
    padding-left: 2px;
  }
}