.title-link {
  display: inline-block;
  font-size: 48px;
  margin-top: 20px;
  font-family: inherit;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 30px;
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
  }
}