.phone__caption {
  float: left;
  font-size: 12px;
  font-weight: 300;
  padding-top: 3px;
  @media (max-width: $screen-md-max) {
    float: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    clear: both;
    padding-right: 5px;
    padding-left: 28px;
  }
  @media (max-width: $screen-sm-max) {
    padding-left: 13px;
  }
  @media (max-width: $screen-xs-max) {
    line-height: 1;
  }
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}