.slider-blog__arrow {
  position: absolute;
  height: 30px;
  margin-top: -30px;
  width: 20px;
  background-color: transparent;
  border: none;
  top: 50%;
  z-index: 1;
  &.slick-disabled {
    opacity: 0;
  }
}