.cart__title {
  font-weight: 300;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 178px;
  display: inline-block;
  line-height: 1.2;
  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: underline;
  }
}