.card__new {
  background: url("../../../../images/card/label_new.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 95px;
  height: 94px;
  z-index: 10;
  top: 6px;
  left: -3px;
  @media (max-width: $screen-xs-max) {
    width: 50px;
    top: 14px;
  }
}