.collection-list_column {
  &_4 {
    .collection-list__ul {
      column-count: 4;
      -webkit-perspective:1;
      @media (max-width: $screen-sm-max) {
        column-count: 2;
      }
      @media (max-width: $screen-xs-max) {
        column-count: 1;
      }
    }
  }
}