$ps-rail-default-opacity: 0.9;
$ps-rail-container-hover-opacity: 0.9;
$ps-rail-hover-opacity: 0.9;

$ps-bar-container-hover-bg: #ef0e29;
$ps-bar-hover-bg: #ef0e29;

$ps-bar-bg: #555;
$ps-rail-hover-bg: #555;


$ps-scrollbar-y-hover-width: 6px;
$ps-scrollbar-y-rail-width: 6px;
$ps-scrollbar-y-rail-right: 1;
$ps-scrollbar-y-right: 0px;