.btn_color_ask {
  padding-left: 41px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  border-color: #e4e4e4;
  &:before {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    display: block;
    left: 14px;
    top: 7px;
    background: url("../../../../images/icons/ask.png");
  }
  &:focus,
  &:hover {
    color: #000;
  }
}