.slider-main__title {
  position: absolute;
  top: 37.5%;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  text-shadow: 5px 5px 30px #000, -5px -5px 30px #000, 0px 0px 70px #000;
  @media (max-width: $screen-sm-max) {
    font-size: 36px;
    top: 35%;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 30px;
  }
}