.rubric__item {
  @include clearfix;
  color: #fff;
  font-size: 14px;
  font-family: $headings-font-family;
  font-weight: 300;
  margin-bottom: 9px;
  display: block;
  position: relative;
  line-height: 1.35;
  padding-top: 3px;
  transition: color 0.3s ease;
  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
    .rubric__count {
      background: $brand-primary;
    }
  }
}