.image-block {
  position: relative;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: auto !important;
  &.pull-left,
  &[align='left']{
    margin-right: 30px;
    max-width: 50%;
    @media (max-width: $screen-xs-max) {
      max-width: 100%;
    }
  }
  &.pull-right,
  &[align='right']{
    margin-left: 30px;
    max-width: 50%;
    @media (max-width: $screen-xs-max) {
      max-width: 100%;
    }
  }
}