.dropdown-menu {
  margin-top: 9px;
  border-radius: 10px;
  padding: 10px 0;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 12px;
    bottom: 100%;
    border: 5px solid transparent;
    border-bottom: 8px solid #383838;
  }
}