.tag-list__item {
  background: #00a651;
  line-height: 1;
  padding: 6px 12px 5px 12px;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  margin-right: 8px;
  transition: background 0.3s ease;
  margin-bottom: 6px;
  &:focus,
  &:hover {
    background: #ef0e29;
    color: #fff;
    text-decoration: underline;
  }
}
