.slider-reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;
  transform: translateY(-88px);
  transition: all 0.5s ease-in-out;
  .slider-reviews__item:hover & {
    transform: translateY(0);
  }
}