.slider-main__item {
  width: 1140px;
  margin: 0 15px 28px 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0 30px 0px #000;
  &:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.48);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: background 0.7s linear;
  }
  &.slick-active {
    &:before {
      content: '';
      background: transparent;
    }
  }
  @media (max-width: $screen-md-max) {
    width: 940px;
  }
  @media (max-width: $screen-sm-max) {
    width: 720px;
  }
}