.collection-list__li {
  margin-bottom: 3px;
  padding: 4px 5px 3px 5px;
  line-height: 1.1;
  margin-left: 6px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #ef0e29;
      text-decoration: underline;
    }
  }
}