.breadcrumb {
  padding-top: 16px;
  //fix bootstrap
  & > li + li:before {
    width: 3px;
    height: 3px;
    background: #ef0e29;
    padding: 0;
    margin: 0 5px 2px 5px;
    border-radius: 50%;
    display: inline-block;
    content: '';
  }
}