.pseudo-table__tfoot {
  .pseudo-table__tr_noborder {
    .pseudo-table__td {
      background: #fff;
      border-color: #fff;
      font-size: 16px;
      font-weight: bold;
      @media (min-width: $screen-md-min) {
        border-bottom: 1px solid $table-border-color;
      }
      @media (max-width: $screen-sm-max) {
        display: inline-block;
      }
      &:first-child {
        border-left: 1px solid $table-border-color;
      }
      &:last-child {
        border-right: 1px solid $table-border-color;
      }
    }
  }
}
