.block_for {
  &_slider {
    margin-top: -150px;
    padding-top: 145px;
    padding-bottom: 56px;
    &:before {
      //top: 120px;
    }
    .container {
      z-index: 5;
      position: relative;
    }
  }
  &_reviews {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  &_share {
    padding-top: 60px;
    padding-bottom: 53px;
  }
  &_recently {
    padding-top: 84px;
    padding-bottom: 63px;
  }
}