img.card__img {
  transition: opacity 0.5s ease-in-out;
}
.card__img {
  max-width: 100%;
  opacity: 1;
  .card__top:hover &{
    //opacity: 0;
  }
  @media (max-width: $screen-ex-max) {
    width: 100%;
  }
}