.product-control__favorites_active {
  &:before {
    background-position: bottom center;
    animation: productFavoritesActive 0.4s ease-in-out;
  }
}
@keyframes productFavoritesActive {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  85%{
    transform: scale(5);
    opacity: 0;
  }
  99%{
    transform: scale(1);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}