.card_recently {
  color: #000;
  .card__top {
    min-height: 100px;
  }
  .card__favorites {
    background-size: cover;
    width: 20px;
    height: 21px;
    background-images: url('../../../../images/card/favorites_small.png');
  }
  .card__new {
    background-size: contain;
    width: 50px;
  }
  .card__bottom {
    transform: translateY(-5px) rotateX(-16deg) translateZ(-9px);
    @media (max-width: $screen-xs-max) {
      transform: translateY(0px) rotateX(0deg) translateZ(0px);
    }
  }
}