.catalog__block {
  background: #252525;
  box-shadow: 0 0 10px #000;
  border-color: #252525;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  &:before {
    border-bottom-color: #252525;
  }
  @media (max-width: $screen-sm-max) {
    display: block;
    position: relative;
    box-shadow: none;
    float: none;
    padding-top: 0;
  }
  @media (max-width: $screen-xs-max) {
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: 1px dashed #4c4c4c;
  }
}