.blog-list-item__title {
  z-index: 2;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(37, 37, 36, 0.9) 45%);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px 20px 25px 27px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  text-decoration: none;
  transition: color 0.3s linear;
}