.cart__btn {
  border: 2px solid #ef0e29;
  border-radius: 15px;
  padding: 4px 15px 4px 40px;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  background: transparent;
  display: block;
  text-align: right;
  width: 100%;
  font-size: 14px;
  @media (max-width: $screen-xs-max) {
    font-size: 0;
    color: transparent;
    height: 30px;
    width: 45px;
    padding: 0;
  }
  &:before {
    content: '';
    background: url("../../../../images/cart-mini.png");
    width: 24px;
    height: 19px;
    display: inline-block;
    position: absolute;
    left: 14px;
    @media (max-width: $screen-xs-max) {
      left: 10px;
      top: 6px;
    }
  }
  .open> & {
    background: #990000;
    border-color: #990000;
  }
}