.logo {
  position: relative;
  text-decoration: none;
  display: block;
  color: #fff;
  max-width: 360px;
  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  @media (max-width: $screen-sm-max) {
    margin: 0 auto 25px;
  }
}