.blog-preview__title {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  text-decoration: none;
  transition: color 0.3s linear;
}
.blog-preview {
  &:hover,
  &:focus {
    .blog-preview__title {
      color: $link-color;
      text-decoration: underline;
    }
  }
}