.social-likes__widget {
  letter-spacing: normal;
  cursor: pointer;
  background-color: $brand-danger;
  border-radius: 100%;
  white-space: nowrap;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin: 0 2px;
  transform: translateZ(0px);
  box-shadow: 0 0 2px rgba(199, 0, 38, 1);
  &:hover,
  &:focus{
    transition: 0.35s ease;
    color: #ffffff;
    text-decoration: none;
    background-color: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  }
}