.slider-article__item-nav {
  .slick-vertical & {
    height: 84px;
    width: 128px;
    overflow: hidden;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 6px;
    position: relative;
  }
}