.title_reviews {
  margin-bottom: 37px;
  font-size: 48px;
  margin-top: 20px;
  font-family: inherit;
  font-weight: 900;
  line-height: 1;
  @media (max-width: $screen-xs-max) {
    font-size: 28px;
    margin-bottom: 20px;
  }
}