.product-control__favorites {
  background: none;
  border: none;
  display: inline-block;
  margin-top: 15px;
  padding: 0 0 0 20px;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: -2px;
    background: url("../../../../images/card/favorites.png") top center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 10;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    left: 0px;
  }
  &:hover {
    &:before {
      background-position: bottom center;
    }
  }
}