.rubric__count {
  color: #fff;
  background: $green-color;
  line-height: 1;
  padding: 5px 7px 4px 7px;
  border-radius: 16px;
  position: absolute;
  right: 0;
  top: 0px;
  transition: background 0.3s ease;
}