.checkbox_filter {
  margin-bottom: 10px;
  &.checkbox {
    margin-top: 0px;
  }
  label {
    padding-left: 35px;
  }
  .checkbox__input {
    margin-left: -35px;
  }
  &.checkbox_checked {
    color: $brand-primary;
  }
}