.radio_custom {
  margin-bottom: 15px;
  .radio__input {
    background: transparent url("../img/radio.png") no-repeat top;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
    margin-top: 0px;
  }
  .radio__control {
    opacity: 0;
    position: absolute;
    &:checked {
      + .radio__input {
        background-position: bottom;
      }
    }
  }
  label {
    padding-left: 30px;

  }
  &.radio_disabled {
    cursor: not-allowed;
    .radio__input {
      opacity: 0.5;
      filter: contrast(0.8);
      cursor: not-allowed;
    }
    label {
      cursor: not-allowed;
    }
  }
}

