<table id="asd_social_likes"><tbody>
    <tr>
        <td style="padding-right: 5px;">
            <script type="text/javascript" src="http://connect.facebook.net/ru_RU/all.js#xfbml=1"></script>
            <div id="fb-root" class=" fb_reset">
            </div>
            <fb:like href="http://www.castlerock.ru/" layout="button_count" action="like" class=" fb_iframe_widget"
                     fb-xfbml-state="rendered"
                     fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fwww.castlerock.ru%2F&amp;layout=button_count&amp;locale=ru_RU&amp;sdk=joey">
                <span style="vertical-align: bottom; width: 111px; height: 20px;">
                    <iframe name="f1440e721927e8"
                            width="1000px" height="1000px"
                            frameborder="0"
                            allowtransparency="true"
                            allowfullscreen="true"
                            scrolling="no"
                            title="fb:like Facebook Social Plugin"
                            src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Dff3ab27757554%26domain%3Dwww.castlerock.ru%26origin%3Dhttp%253A%252F%252Fwww.castlerock.ru%252Ff3b9f0c60ec2d98%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.castlerock.ru%2F&amp;layout=button_count&amp;locale=ru_RU&amp;sdk=joey"
                            style="border: none; visibility: visible; width: 111px; height: 20px;"
                            class=""></iframe>
                </span>
            </fb:like>
        </td>
        <td>
            <script type="text/javascript" src="http://apis.google.com/js/plusone.js" gapi_processed="true">{"lang":"ru"}</script>
            <div style="width: 70px;">
                <div id="___plusone_0"
                     style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;">
                    <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no"
                            style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;"
                            tabindex="0" vspace="0" width="100%" id="I0_1479743395381" name="I0_1479743395381"
                            src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=ru&amp;origin=http%3A%2F%2Fwww.castlerock.ru&amp;url=http%3A%2F%2Fwww.castlerock.ru%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.ru.S4zsvymQ3ok.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNgTvU2cGwe_d1KUdAXgQy02OSHaw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1479743395381&amp;parent=http%3A%2F%2Fwww.castlerock.ru&amp;pfname=&amp;rpctoken=38749885"
                            data-gapiattached="true" title="+1"></iframe>
                </div>
            </div>
        </td>
        <td>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <div style="width: 110px; overflow: hidden;">
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
                        class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                        title="Twitter Tweet Button"
                        src="http://platform.twitter.com/widgets/tweet_button.f7908d4abf5ce27173c69bdbb93aedb6.ru.html#dnt=false&amp;id=twitter-widget-0&amp;lang=ru&amp;original_referer=http%3A%2F%2Fwww.castlerock.ru%2F&amp;size=m&amp;text=%D0%9C%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D1%80%D0%BE%D0%BA%20%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D0%B8%D0%BA%D0%B8%20CastleRock!&amp;time=1479743395811&amp;type=share&amp;url=http%3A%2F%2Fwww.castlerock.ru%2F"
                        style="position: static; visibility: visible; width: 78px; height: 20px;"
                        data-url="http://www.castlerock.ru/"></iframe>
            </div>
        </td>
        <td>


        </td>
    </tr>
    </tbody>
</table>

<!--<script type="text/javascript" src="http://vk.com/js/api/openapi.js?17"></script>-->
<!--<div id="vk_like" style="height: 22px; width: 180px; background: none; position: relative; clear: both;">-->
    <!--<iframe name="fXD83a3e" frameborder="0" src="https://vk.com/widget_like.php?app=2794290&amp;width=100%&amp;_ver=1&amp;page=0&amp;url=http%3A%2F%2Fwww.castlerock.ru%2F&amp;type=button&amp;verb=0&amp;color=&amp;title=%D0%9C%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D1%80%D0%BE%D0%BA%20%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D0%B8%D0%BA%D0%B8%20CastleRock!&amp;description=%D0%A1%D1%82%D0%B0%D1%80%D0%B5%D0%B9%D1%88%D0%B8%D0%B9%20%D1%80%D0%BE%D0%BA%20%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D0%B2%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8%20%D0%B8%20%D0%BA%D1%80%D1%83%D0%BF%D0%BD%D0%B5%D0%B9%D1%88%D0%B8%D0%B9%20%D0%B2%20%D0%95%D0%B2%D1%80%D0%BE%D0%BF%D0%B5.%20%D0%92%D1%81%D1%82%D1%80%D0%B5%D1%87%D0%B8%20%D1%81%20%D1%80%D0%BE%D0%BA%20%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BD%D1%82%D0%B0%D0%BC%D0%B8%2C%20%D0%B0%D0%B2%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84-%D1%81%D0%B5%D1%81%D1%81%D0%B8%D0%B8%2C%20%D0%BB%D1%83%D1%87%D1%88%D0%B8%D0%B9%20%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%20%D1%80%D0%BE%D0%BA%20%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D0%B8%D0%BA%D0%B8%2C%20%D0%BE%D0%B4%D0%B5%D0%B6%D0%B4%D1%8B%2C%20%D0%BE%D0%B1%D1%83%D0%B2%D0%B8%2C%20%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%BE%D0%BA&amp;image=&amp;text=&amp;h=22&amp;referrer=&amp;15887945b7f" width="100%" height="22" scrolling="no" id="vkwidget2" style="overflow: hidden; height: 22px; width: 180px; z-index: 150;"></iframe>-->
<!--</div>-->