.blog-detail-head__tag-item {
  background: $green-color;
  line-height: 1;
  padding: 6px 12px 5px 12px;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  margin-right: 8px;
  transition: background 0.3s ease;
  margin-bottom: 6px;
  &:hover,
  &:focus {
    background: $brand-primary;
    color: #fff;
    text-decoration: underline;
  }
}