.catalog__btn {
  float: left;
  width: 131px;
  background: #ef0e29;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
  border: none;
  border-radius: 6px;
  padding: 9px 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background: #bf0b21;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}