.card.card_active {
  transform: translateY(-28px);
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
  @media (max-width: $screen-xs-max) {
    transform: translateY(0);
  }
  .card__bottom {
    transform: translateY(0px) rotateX(0deg) translateZ(0px);
    @media (max-width: $screen-xs-max) {
      height: auto;
      bottom: 0px;
    }
  }
  .card__quick-view {
    transform: translateY(0);
    height: 44px;
    padding: 11px 0 7px 0;
  }
  .card__favorites {
    opacity: 1;
  }
  .card__img-reverse {
    opacity: 1;

  }
}