.product-control__last-in-stock {
  display: inline-block;
  font-size: 13px;
  padding: 2px 13px 1px 12px;
  margin-bottom: 11px;
  color: #fff;
  border-radius: 10px;
  font-weight: 300;
  background: $brand-primary;
}