ol:not([class]){
  list-style: none;
  counter-reset: li;
  padding-left: 0;
  font-size: 16px;
  line-height: 1.7;
  & &{ padding-left: 25px;}
  li:before{
    counter-increment: li;
    content: counters(li,".") ". ";
    color: $brand-danger;
  }
}