.product-control__size-item {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  min-width: 36px;
  text-align: center;
  background: #cfcfcf;
  border-radius: 30px;
  margin-right: 10px;
  padding: 4px 10px;
  line-height: 28px;
  color: #000;
  height: 36px;
  margin-bottom: 5px;
  cursor: pointer;
}