.list-color__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  float: left;
  margin: 7px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.4s ease;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    background: transparent;
    box-shadow: inset 0px 2px 7px 1px transparent;
    transition: all 0.3s ease;
  }
  &:hover {
    box-shadow: 0 0 18px #282828;
  }
}