.pseudo-table__tr {
  @media (min-width: $screen-md-min) {
    display: table-row;
    &:nth-of-type(2n) {
      background-color: #fff;
    }
  }
  @media (max-width: $screen-sm-max) {
    border-bottom: 1px solid #d4d4d4;
    text-align: left;
    padding: 12px;
  }
}