.product-control_quick-view {
  padding: 0 0 0 31px;
  .product-control__size {
    margin-bottom: 14px;
    margin-top: 6px;
  }
  .product-control__price {
    margin-top: 2px;
    margin-left: -2px;
    margin-bottom: 15px;
  }
  .product-control__favorites {
    margin-top: 24px;
  }
}