.menu__btn-menu {
  @media (min-width: $screen-md-min) {
    display: none;
  }
  background: $link-color;
  border: none;
  float: left;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 9px 15px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
}