.filter-slider__slider {
  margin-bottom: 32px;
  margin-top: 23px;
  &.ui-slider-horizontal {
    height: 3px;
    border: none;
    background: #464646;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    .ui-slider-range {
      background: $brand-primary
    }
    .ui-slider-handle {
      outline: none;
      background: $brand-primary;
      width: 6px;
      height: 25px;
      margin-left: -3px;
      top: -11px;
      border: none;
      &:active {
        background: $brand-primary;
      }
    }
  }
}
