.favorites {
  text-decoration: none;
  position: relative;
  display: block;
  background: url("../../../images/favorites.png") no-repeat;
  width: 33px;
  height: 32px;
  padding-top: 11px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  padding-right: 1px;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}