.quick-view__left {
  position: absolute;
  height: 100%;
  width: 77px;
  right: 100%;
  top: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  background: url("../../../../images/quick-view/left.png") no-repeat center center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  @media (max-width: $screen-xs-max) {
    left: 0px;
    right: auto;
    width: 20px;
    background-size: contain;
  }
}