.slider-main__btn-wrap {
  position: absolute;
  top: 59%;
  width: 100%;
  text-align: center;
  @media (max-width: $screen-md-max) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  > .btn {
    transition: background 0.3s ease;
    @media (max-width: $screen-md-max) {
      background: transparent;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: none;
      color: transparent;
      font-size: 0;
      &:hover,
      &:focus {
        color: transparent;
        background: transparent;
        text-decoration: none;
      }
      &:active,
      &:active:hover,
      &:active:focus {
        color: transparent;
        background: transparent;
        text-decoration: none;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 5px 9px;
      font-size: 12px;
    }
  }
}