* {
    &:focus,
    &:active,
    &:active:focus {
        outline: none;
        outline: none!important;
    }
}

//body {
//    .custom-fonts_loaded & {
//        font-family: $font-family-sans-serif;
//    }
//}