.catalog-control__left {
  float: left;
  @media (max-width: $screen-sm-max) {
    float: none;
    margin-bottom: 30px;
  }
  @media (max-width: $screen-xs-max) {
    text-align: center;
    margin-bottom: 15px;
  }
}