.custom-font-loaded .footer {
    font-family: 'Open Sans', sans-serif; font-weight: 400;
    font-size: 24px;
}


/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
    url('fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('fonts/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-100 - latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-100.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-100.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-900.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v15-latin_cyrillic-ext_latin-ext-900.svg#Roboto') format('svg'); /* Legacy iOS */
}