.menu__item {
  font-weight: 300;
  position: relative;
  border-radius: 12px;
  text-align: center;
  @media (max-width: $screen-md-max) {
    font-size: 12px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 14px;
    display: block;
    width: 100%;
    float: none;
  }
}