.slider-article {
  position: relative;
  background: #252525;
  border-radius: 10px;
  overflow: hidden;
  transform: rotateY(0.01deg);
  box-shadow: 0 0 30px rgba(173,173,173,.5);
  margin-bottom: 30px;
}