@import "../variables";
h1, .h1{
  @include font-size($type__h_1, 25px);
  line-height: 1;
}
h2, .h2{
  @include font-size($type__h_2, 22px);
}
h3, .h3{
  @include font-size($type__h_3, 20px);
}
h4, .h4{
  @include font-size($type__h_4, 18px);
}
h5, .h5{
  @include font-size($type__h_5, 16px);
}
h6, .h6{
  @include font-size($type__h_6, 14px);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $headings-margin-top;
  margin-bottom: $headings-margin-bottom;
  &:before{
    font-size: inherit;
    content: '';
    display: block;
    margin-bottom: $headings-before-margin-bottom;
    height: 1px;
  }
  &:first-child{
    margin-top: 0;
    &:before{content: none}
  }
}
h4, .h4, h5, .h5, h6, .h6 {
  @media (min-width: $screen-sm-min) {
    margin-bottom: $headings-margin-bottom-sm;
  }
}