.image-block__title {
  font-style: italic;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  a, .a{&, &:hover, &:focus{color: $brand-danger}}
}