.search__btn {
  border: none;
  background: transparent;
  position: absolute;
  right: 37px;
  top: 6px;
  font-size: 16px;
  color: #ee122b;
  @media (max-width: $screen-sm-max) {
    right: 3px;
  }
  @media (max-width: $screen-xs-max) {
    right: 8px;
  }
}