.advantages__item_icon {
  &_plane {
    width: 36.7%;
    padding-left: 87px;
    &:before {
      content: '';
      position: absolute;
      background: url("../../../../../images/advantages/plane.png") no-repeat;
      width: 69px;
      height: 59px;
      left: 2px;
      top: -3px;
    }
  }
  &_wallet {
    width: 41%;
    padding-left: 102px;
    &:before {
      content: '';
      position: absolute;
      background: url("../../../../../images/advantages/wallet.png") no-repeat;
      width: 70px;
      height: 59px;
      left: 0;
      top: 0;
    }
    @media (max-width: $screen-md-max) {
      padding-left: 79px;
    }
  }
  &_clock {
    width: 22.3%;
    padding-left: 90px;
    &:before {
      content: '';
      position: absolute;
      background: url("../../../../../images/advantages/clock.png") no-repeat;
      width: 62px;
      height: 67px;
      left: 0;
      top: -7px;
    }
    @media (max-width: $screen-md-max) {
      padding-left: 70px;
    }
  }
}