.preview-blog__img {
  float: left;
  margin-right: 21px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(173,173,173,.5);
  margin-top: 5px;
  overflow: hidden;
  transform: rotateY(0.01deg);
  img {
    border-radius: 10px;
  }
}