.card__bottom {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  box-shadow: 0 -3px 0px rgb(255, 255, 255), 0 6px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 100%;
  border-radius: 0 0 11px 11px;
  transform: translateY(5px) rotateX(-13deg) translateZ(-8px);
  z-index: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: -10px;
  @media (max-width: $screen-md-max) {
    transform: translateY(5px) rotateX(-15deg) translateZ(-8px);
  }
  @media (max-width: $screen-sm-max) {
    transform: translateY(5px) rotateX(-15deg) translateZ(-10px);
  }
  @media (max-width: $screen-xs-max) {
    transform: translateY(0px) rotateX(0deg) translateZ(0px);
    position: relative;
    padding-top: 0;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .no-touch .card:hover &{
    transform: translateY(0px) rotateX(0deg) translateZ(0px);
    @media (max-width: $screen-xs-max) {
      height: auto;
      bottom: 0px;
    }
  }
}