.social-likes__counter {
  line-height: 1;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  display: inline-block;
  @media (min-width: $screen-sm-min) {
    padding-left: 10px;
    margin-left: 10px;
  }
  &_empty,
  &:empty{
    display: none;
  }
}