.cart__to-cart {
  display: block;
  width: 100%;
  position: absolute;
  bottom:0;
  height: 40px;
  font-weight: 300;
  background: #ef0e29;
  color: #fff;
  left: 0;
  line-height: 30px;
  border-radius: 7px;
}