.you-read__now {
  font-size: 24px;
  color: #2f2f2f;
  font-weight: bold;
  text-align: center;
  float: left;
  width: 36%;
  position: relative;
  padding: 0 25px;
  &:before {
    content: '';
    background: url("../../../../images/icons/you-read__left.png") no-repeat;
    width: 43px;
    height: 54px;
    position: absolute;
    left: 0;
    top: -4px;
  }
  &:after {
    content: '';
    background: url("../../../../images/icons/you-read__right.png") no-repeat;
    width: 43px;
    height: 54px;
    position: absolute;
    right: 0;
    top: -4px;
  }
}