.reviews-block__comments {
  &:before {
    content: '';
    position: absolute;
    border-right: 1px dashed #dadada;
    height: 100%;
    top: 0;
    right: 0;
    @media (min-width: $screen-lg-min) {
      right: -15px;
    }
    @media (max-width: $screen-sm-max) {
      border-right: 0;
      border-bottom: 1px dashed #dadada;;
    }
  }
}