.list-color__item_checked {
  box-shadow: 0px 4px 18px 1px #000;
  transform: translateY(-3px);
  &:before {
    background: #383838;
    box-shadow: inset 0px 2px 7px 1px #000;
  }
  &:hover {
    box-shadow: 0px 4px 18px 1px #000;
  }
}