.menu__list-item {
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  @media (max-width: $screen-sm-max) {
    display: block;
    float: left;
    width: 100%;
  }
}