.catalog__sublink {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-color;
  }
}