.blog-list-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
  display: block;
  box-shadow: 0 0 50px rgba(17,17,17,.3);
  &:hover {
    .blog-list-item__title {
      color: $brand-primary;
    }
  }
}