.catalog__subitem_primary {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: #d00;
    border-radius: 50%;
    left: 0px;
    top: 12px;
  }
}