.category-item__title {
  font-size: 16px;
  font-weight: 300;
  padding: 18px 10px;
  text-align: center;
  color: #000000;
  &:hover,
  &:focus {
    color: #000000;
    text-decoration: none;
  }
}