.modal__close {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 16px;
    z-index: 12;
    width: 18px;
    height: 18px;
    border: none;
    background: transparent url("../../../../images/quick-view/close.png") no-repeat;
}
