.to-up__logo {
  position: fixed;
  width: 40px;
  height: 64px;
  z-index: 10;
  bottom: 20px;
  transition: all 0.3s ease-in-out;
  left: 50%;
  margin-left: 600px;
  @media (max-width: 1300px) {
    margin-left: 575px;
  }
  @media (max-width: $screen-md-max) {
    margin-left: 484px;
  }
  @media (max-width: 1052px) {
    display: none;
  }
}