.title_main {
  margin-top: 41px;
  text-align: center;
  margin-bottom: 50px;
  font-family: inherit;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
  font-size: 48px;
  color: #2f2f2f;
  @media (max-width: $screen-xs-max) {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}