.slider-main__arrow_right {
  background: url("../../../../../images/slider-main/right.png") no-repeat right top;
  right: 50%;
  margin-right: -540px;
  @media (max-width: $screen-md-max) {
    margin-right: -440px;
  }
  @media (max-width: $screen-sm-max) {
    margin-right: -340px;
  }
  @media (max-width: $screen-xs-max) {
    margin-right: 0;
    right: 18px;
    width: 20px;
    background-size: contain;
    height: 32px;
    margin-top: -30px;
  }
}