.menu__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s linear;
  display: inline-block;
  padding: 0px 10px 1px;
  border-radius: 12px;
  margin: 12px 2px 10px;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-color;
  }
  @media (max-width: $screen-sm-max) {
    display: block;
    text-align: left;
    margin-left: 60%;
    margin-right: 15px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 3px 15px;
    margin: 5px 5px;
  }
}