.product-control__col-to-cart_for {
  &_btn {
    width: 48.2%;
    @media (max-width: $screen-md-max) {
      width: 57%;
    }
    @media (max-width: $screen-sm-max) {
      margin-right: 10px;
      width: 220px;
    }
    @media (max-width: $screen-ex-max) {
      float: none;
      margin-bottom: 5px;
    }
  }
  &_label {
    width: 51.8%;
    @media (max-width: $screen-md-max) {
      width: 43%;
    }
    @media (max-width: $screen-sm-max) {
      width: auto;
      padding-left: 230px;
      float: none;
    }
    @media (max-width: $screen-ex-max) {
      padding-left: 0;
    }
  }
}