.catalog-control {
   @include clearfix;
   font-size: 13px;
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 7px;
   margin-bottom: 46px;
   @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
   }
}