// Глобальные переменные SCSS
// Данный файл будет автоматически подключен в начало каждого компилируемого scss-файла
// Изменения в этом файле приводят к пересборке технологии CSS

$screen-ex-max: 520px;

$brand-danger: #ef0e29;
$brand-primary: #ef0e29;

$body-bg: #000;
$link-color: #ef0e29;
$text-color: #000;
$green-color: #00a651;
//шрифты
$font-family-base: 'Roboto', sans-serif;
$headings-font-weight: 300;
$font-size-h1:            48px;
$font-size-h2:            40px;
$font-size-h3:            36px;
$font-size-h4:            24px;
$font-size-h5:            18px;
$font-size-h6:            16px;
$text-color: #383838;
$headings-color: #363636;
$headings-font-weight: 900;

//хлебные крошки
$breadcrumb-padding-horizontal: 0;
$breadcrumb-padding-vertical:   8px;
$breadcrumb-bg: transparent;
$breadcrumb-separator:          "•";
$breadcrumb-color: $brand-primary;
//кнопки

$btn-default-color:              #fff;
$btn-default-bg:                 #ef0e29;
$btn-default-border:             #ef0e29;

$btn-success-color: #fff;
$btn-success-bg: #00a651;
$btn-success-border: #00a651;

$btn-info-color: #ef0e29;
$btn-info-bg: #fff;
$btn-info-border: #ef0e29;

$btn-border-radius-base: 22px;
$btn-font-weight: 300;

//input
$input-border-focus: $brand-primary;
$input-border-radius: 30px;
$padding-base-vertical: 6px;
$input-border: #aeaeae;

$padding-large-vertical:    8px;
$padding-large-horizontal:  25px;
$btn-border-radius-large: 26px;
$dropdown-bg: #383838;

$padding-base-horizontal:   15px;
$headings-line-height:    1.2;

//pagination
$pagination-border: transparent;
$pagination-bg: transparent;
$pagination-color: $brand-primary;
$pagination-active-color: #fff;
$pagination-active-bg: #2f2f2f;
$pagination-active-border: #2f2f2f;
//$pagination-hover-color: transparent;
$pagination-hover-bg: transparent;
$pagination-hover-border: transparent;
  //Переопределение переменных Bootstrap должно производиться до этой строчки
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//табы
$nav-tabs-active-link-hover-color: $brand-primary;
$nav-tabs-active-link-hover-bg: #fff;
$nav-tabs-link-hover-border-color: #ddd;
$nav-tabs-border-color: #ddd;
// Mixins
// --------------------------------------------------

// Utilities
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/hide-text";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/opacity";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/image";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/labels";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-filter";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/resize";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/responsive-visibility";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/size";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/tab-focus";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-text";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-emphasis";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-overflow";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

// Components
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/alerts";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/panels";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/pagination";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/list-group";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-divider";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/forms";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/progress-bar";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/table-row";

// Skins
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/background-variant";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/border-radius";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients";

// Layout
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/center-block";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-vertical-align";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
// End mixins
// --------------------------------------------------

// mixins common
@import "mixin/mixin";
