.search_select {
  padding-right: 0;
  .search__input {
    box-shadow: 0 0 30px rgba(173,173,173,.5);
    border-radius: 17px 18px 18px 17px/17px 17px 18px 18px;
    background: #fff;
    height: 35px;
    font-size: 14px;
    padding: 7px 30px 7px 20px;
  }
  .search__btn {
    top: 8px;
    right: 8px;
  }
}