img.card__img-reverse {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card__img-reverse {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  .no-touch .card__top:hover &{
    opacity: 1;
    transform: rotateX(0.3deg);
  }
}