.catalog__submenu {
  display: none;
  list-style: none;
  padding-left: 15px;
  position: absolute;
  left: 100%;
  background: #383838;
  top: 0;
  max-height: 100%;
  width: 420px;
  box-shadow: inset 8px 0px 10px -8px #000;
  padding-top: 14px;
  padding-bottom: 14px;
  transition: opacity 0.3s ease-in-out 0.3s;
  min-height: 100%;
  white-space: normal;
  border-radius: 0 6px 6px 0;
  .no-touch .catalog__item:hover & {
    display: block;
    animation: showGo 0.3s ease-in-out ;
  }
}
@keyframes showGo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}