.menu {
  @include clearfix;
  border-radius: 5px;
  background-color: #252525;
  margin-top: 31px;
  margin-bottom: 36px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 36px;
    margin-top: -39px;
    min-height: 43px;
    position: relative;
    z-index: 1;
  }
}