.footer-menu {
  list-style: none;
  padding-left: 0;
  a {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  @media (max-width: $screen-xs-max) {
      text-align: center;
  }
}