<!-- VK Widget -->
<div id="vk_groups2" style="height: 190px; width: 195px; background: none;">

</div>
<script type="text/javascript">
    VK.Widgets.Group("vk_groups2", {redesign: 1, mode: 3, width: "190", height: "195", color1: '000000', color2: 'FFFFFF', color3: '5E81A8'}, 35051);
</script>

