.search_header {
  @media (max-width: $screen-sm-max) {
    padding-right: 0;
    z-index: 2;
    padding-top: 1px;
  }
  @media (max-width: $screen-xs-max) {
    display: none;
    position: absolute;
    width: auto;
    left: 15px;
    right: 15px;
    padding: 7px 10px;
    background: #252525;
    z-index: 11;
    border-radius: 5px;
    margin-top: -6px;
    .search__btn {
      right: 9px;
      top: 50%;
      margin-top: -9px;
    }
  }
  .search__input {
    height: 30px;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      font-size: 16px;
      &:focus {
        font-size: 16px;
      }
    }
  }
}


//@media screen and (-webkit-min-device-pixel-ratio:0) {
//  select,
//  textarea,
//  input {
//    font-size: 16px;
//  }
//}
//@media screen and (-webkit-min-device-pixel-ratio:0) {
//  select:focus,
//  textarea:focus,
//  input:focus {
//    font-size: 16px;
//  }
//}