.pseudo-table__th {
  @media (min-width: $screen-md-min) {
    display: table-cell;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid #d4d4d4;
    background: #fff;
    text-align: left;
    white-space: nowrap;
  }
  padding: 8px;
  &+&{
    @media (min-width: $screen-md-min) {
      text-align: center;
    }
  }
}