.selection-block__vertical-menu {
  position: absolute;
  right: 100%;
  width: 228px;
  padding: 24px 15px 24px 30px;
  display: none;
  top: -4px;
  background: #383838;
  border-radius: 10px 0px 0px 10px;
  list-style: none;
  box-shadow: inset -14px 0px 27px -15px rgba(0, 0, 0, 0.79), -7px 0px 20px -7px rgba(0, 0, 0, 0.5);
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}