.nav-tabs__link {
  padding: 13px 24px;
  font-size: 18px;
  color: #000;
  @media (max-width: $screen-sm-max) {
    font-size: 14px;
    padding: 8px 12px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 10px;
  }
}