.footer-bottom-item_align {
  &_center {
    @media (min-width: $screen-sm-min) {
      text-align: center;
    }
  }
  &_right {
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}