.social-likes__icon {
  font-family: 'FontAwesome';
  font-size: 16px;
  &:before{
    display: block;
    width: 32px;
    line-height: 32px;
    height: 32px;
  }
  &_vkontakte{
    &:before{
      content: "\f189";
    }
  }
  &_facebook{
    &:before{
      content: "\f09a";
    }
  }
  &_plusone{
    &:before{
      content: "\f0d5";
    }
  }
  &_twitter{
    &:before{
      content: "\f099";
    }
  }
  &_odnoklassniki{
    &:before{
      content: "\f263";
    }
  }
}