.checkbox_custom {
  .checkbox__input {
    background: transparent url("../img/checkbox.png") no-repeat top;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
    margin-top: 1px;
  }
  .checkbox__control {
    opacity: 0;
    position: absolute;
    &:checked {
      + .checkbox__input {
        background-position: bottom;
      }
    }
  }
  label {
    padding-left: 30px;
  }
  &.checkbox_disabled {
    cursor: not-allowed;
    .checkbox__input {
      opacity: 0.5;
      filter: contrast(0.8);
      cursor: not-allowed;
    }
    label {
      cursor: not-allowed;
    }
  }
}