//fix for bootstrap

.btn {
  font-size: 18px;
  padding: 5px 21px;
  border-radius: 30px;
}
.btn-xl,
.btn-group-xl > .btn {
  padding: 10px 84px;
  font-size: 30px;
  border-radius: 30px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 5px 21px;
  font-size: 24px;
  border-radius: 30px;
}
.btn-sm,
.btn-group-sm > .btn{
  font-size: 16px;
  padding: 5px 21px;
  border-radius: 30px;
}
.btn-xs,
.btn-group-xs > .btn {
  font-size: 14px;
  padding: 1px 13px;
  border-radius: 20px;
}