.slider-reviews__img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
  .slider-reviews__item:hover & {
    filter: grayscale(1);
  }
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}