.search__input {
  width: 100%;
  border-radius: 16px;
  border: none;
  padding: 7px 20px 7px 10px;
  line-height: 1.3;
  font-size: 12px;
  @include placeholder-color(#000);
  @include placeholder-transition;
}