.sidebar-menu__subitem {
  font-size: 12px;
  margin-bottom: 10px;
  .sidebar-menu__link {
    position: relative;
    &:before{
      content: '';
      width: 4px;
      height: 4px;
      margin-left: -6px;
      margin-right: 8px;
      display: inline-block;
      background-color: #fff;
      vertical-align: middle;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    &:hover,
    &:focus {
      &:before {
        background-color: $brand-primary;
      }
    }
  }
}