.smart-filter__reset {
  float: right;
  font-size: 12px;
  color: $brand-primary;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding-top: 4px;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}