.btn-side {
  color: #127f39;
  background: transparent;
  padding: 8px 8px 8px 33px;
  border: 1px solid #127f39;
  border-radius: 5px;
  height: 37px;
  &:before {
    content: '';
    line-height: 1;
    color: #fff;
    background: url(../../../images/icons/info.svg) center center no-repeat;
    width: 18px;
    height: 22px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 7px;
  }
  @media (max-width: 380px) {
    font-size: 0;
    padding-left: 28px;
    width: 39px;
  }
}