.pseudo-table__tfoot {
  @media (min-width: $screen-md-min) {
    display: table-footer-group;
  }
  .pseudo-table__td {
    background: #fff;
    border-color: #fff;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    @media (max-width: $screen-sm-max) {
      display: inline-block;
    }
  }
}