.card {
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  perspective: 100px;
  perspective-origin: center 0px;
  transform-style: preserve-3d;
  margin-bottom: 30px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 60px;
  }
  .no-touch &:hover {
    transform: translateY(-28px);
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
    @media (max-width: $screen-xs-max) {
      transform: translateY(0);
    }
  }
}
//fix for iPad
.modal-open {
  .card {
    transform-style: flat;
  }
  .card__bottom {
    display: none;
  }
}