.block_theme {
  &_dark {
    color: #fff;
  }
  &_light {
    color: #000;
    background: #fff url('../../../../images/block-white/bg-main.jpg') top center;
    position: relative;
    min-height: 720px;
    &:before {
      content: '';
      position: absolute;
      height: 701px;
      width: 100%;
      background: url("../../../../images/block-white/bg-full-top.png") no-repeat center top;
      top: 0;
      @media (min-width: 1921px) {
        background: url("../../../../images/block-white/bg-tl-min.png") no-repeat left top , url("../../../../images/block-white/bg-tr-min.png") no-repeat right top;
      }
      @media (max-width: $screen-sm-max) {
        background: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      height: 614px;
      width: 100%;
      bottom: 0;
      background: url("../../../../images/block-white/bg-full-bottom.png") no-repeat center bottom;
      @media (min-width: 1921px) {
        background: url("../../../../images/block-white/bg-bl-min.png") no-repeat left bottom, url("../../../../images/block-white/bg-br-min.png") no-repeat right bottom;
      }
    }
  }
  &_dark-wallpapers {
    color: #fff;
    background: #242424 url('../../../../images/rock-music-wallpapers.jpg') no-repeat bottom center;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 41px;
    box-shadow: 0 0 50px rgba(0,0,0,.8);
    position: relative;
    z-index: 1;
  }
  &_selection {
    color: #fff;
    background: #252525 url('../../../../images/rock-music-wallpapers_selection.jpg') no-repeat top center;
    background-size: initial;
    padding-top: 0px;
    padding-bottom: 41px;
    box-shadow: 0 0 50px rgba(0,0,0,.8);
    position: relative;
    z-index: 1;
    >.breadcrumb__active {
      color: #fff;
    }
  }
  &_blog {
    color: #fff;
    background: #7f0000 url('../../../../images/block-rock.jpg') no-repeat bottom center;
    background-size: cover;
    padding-top: 31px;
    padding-bottom: 42px;
    box-shadow: 0 0 50px rgba(0,0,0,.8);
    position: relative;
    z-index: 1;
  }
  &_footer {
    background: #000000;
    box-shadow: 0 0 30px rgba(0,0,0,.8);
    color: #fff;
    padding-top: 36px;
  }
  &_read-more {
    background: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,.8);
    z-index: 1;
    position: relative;
    padding: 41px 0;
  }
}