.nav-tabs_selection {
  border-bottom: 0px solid transparent;
  > li > a {
    background: transparent;
    color: $brand-primary;
    border-color: #5e6368;
    border-bottom-color: #c5c6c5;
    margin-right: 7px;
    padding: 13px 25px 10px 25px;
  }
  > li.active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
      background: transparent;
      border-color: #c5c6c5;
      border-bottom: 1px solid #25281f;
    }
  }
}