.phone__numb {
  float: left;
  margin-right: 11px;
  font-weight: bold;
  font-size: 16px;
  @media (max-width: $screen-sm-max) {
    font-size: 14px;
  }
  @media (max-width: $screen-xs-max) {
    line-height: 1;
  }
}