.nav-tabs {
  @include clearfix;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  //it's bootstrap...
  > li {
    > a {
      border-color: #dddddd;
      background: #fafafa;
      border-radius: 14px 14px 0 0;
      display: block;
      box-shadow: inset 0 -12px 17px -9px rgba(0, 0, 0, 0.21);
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      > a {
        box-shadow: none;
      }
    }
  }
}