.card__favorites {
  background-image: url("../../../../images/card/favorites.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: transparent;
  width: 29px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 35px;
  z-index: 10;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  @media (max-width: $screen-xs-max) {
    background-image: url(../../../../images/card/favorites_small.png);
    top: 28px;
    right: 15px;
    width: 20px;
    height: 21px;
  }
  &:hover {
    background-position: bottom center;
    text-decoration: none;
  }
  .no-touch .card:hover &{
      opacity: 1;
  }
}