.pagination__next {
  >.pagination__link {
    padding: 1px 0px 1px 6px;
  }
  i {
    display: none;
  }
  @media (max-width: $screen-xs-max) {
    span {
      display: none;
    }
    i {
      display: block;
      margin-top: 2px;
    }
  }
}