.header-line__item_is {
  &_btn-side {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: block;
      width: 60px;
      position: absolute;
    }
  }
  &_city {
    font-size: 12px;
    width: 265px;
    font-weight: normal;
    width: 23.3%;
    @media (max-width: $screen-md-max) {
      width: 25.3%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: 2px;
      padding-left: 60px;
      text-align: right;
      padding-right: 15px;
    }
  }
  &_phone {
    width: 25.5%;
    @media (max-width: $screen-md-max) {
      width: 21.5%;
    }
    @media (max-width: $screen-sm-max) {
      width: 21%;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &_feedback {
    width: 11%;
    padding-left: 31px;
    @media (max-width: $screen-md-max) {
      width: 13%;
      padding-left: 14px;
    }
    @media (max-width: $screen-sm-max) {
      width: 14%;
      padding-left: 0;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &_user {
    width: 14.7%;
    @media (max-width: $screen-md-max) {
      width: 18.7%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding-left: 60px;
    }
  }
}