.card__link-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  .no-touch & {
    display: block;
  }
  @media (max-width: $screen-xs-max) {
    display: block!important;
  }
}