.advantages__item {
  color: #ffffff;
  float: left;
  width: 33.333333%;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  padding-top: 12px;
  line-height: 1.2;
  margin-bottom: 47px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #ef0e29;
  }
}