.sidebar-menu {
  list-style: none;
  padding-left: 15px;
  line-height: 1.7;
  >li:before{
    content: '';
    width: 9px;
    height: 1px;
    margin-left: -15px;
    margin-right: 11px;
    display: inline-block;
    background-color: $brand-danger;
    vertical-align: middle;
  }
  & &{
    padding-left: 25px;
    li:before{
      content: '';
      width: 4px;
      height: 4px;
      margin-left: -15px;
      margin-right: 11px;
      display: inline-block;
      background-color: #ef0e29;
      vertical-align: middle;
      border-radius: 50%;
    }
  }
}