.catalog__link {
  //white-space: nowrap;
  color: #fff;
  display: block;
  padding: 8px 20px;
  line-height: 1;
  font-weight: 300;
  width: 263px;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}