.cart__size {
  display: inline-block;
  padding: 5px 7px;
  line-height: 12px;
  background-color: #00a651;
  color: #fff;
  border-radius: 13px;
  font-size: 12px;
  margin: 0 2px;
  min-width: 22px;
  height: 22px;
  text-align: center;
}