.slider-detail__kit {
  display: none;
  position: absolute;
  bottom: 78px;
  background: #ef0e29;
  color: #fff;
  padding: 15px 20px 15px 76px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0 30px 30px 0;
  &:before {
    content: '';
    position: absolute;
    background: url("../../../../images/icons/kit.png") no-repeat;
    width: 40px;
    height: 31px;
    left: 24px;
    top: 10px;
  }
  @media (max-width: $screen-ex-max) {
    font-size: 14px;
    padding: 6px 20px 6px 15px;
    &:before {
      display: none;
    }
  }
  .slick-initialized & {
    display: block;
  }
}