.menu-bar {
  &.open {
    .menu-bar__icon {
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 8px;
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
        margin-top: -3px;
      }
      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}
