.to-up {
  position: fixed;
  width: 40px;
  height: 64px;
  z-index: 10;
  left: 50%;
  bottom: 20px;
  margin-left: 600px;
  @media (max-width: 1300px) {
    margin-left: 575px;
  }
  @media (max-width: $screen-md-max) {
    margin-left: 484px;
  }
  .to-up__logo_dark {
    opacity: 1;
  }
  .to-up__logo_light {
    opacity: 0;
  }
  @media (max-width: 838px) {
    display: none;
    margin-left: 0;
  }
}