.slider-reviews__arrow_right {
  background: url("../../../../../images/slider-main/right.png") no-repeat;
  right: 50%;
  margin-right: -566px;
  background-size: contain;
  @media (max-width: $screen-md-max) {
    margin-right: -467px;
  }
  @media (max-width: $screen-sm-max) {
    margin-right: -355px;
  }
  @media (max-width: $screen-xs-max) {
    right: 20px;
    margin-right: 0;
  }
}