.filter-slider__input-max {
  display: inline-block;
  padding: 0px 2px 0px 10px;
  width: 80%;
  text-align: left;
  border: none;
  background: none;
  color: #fff;
  font-size: 14px;
  @media (max-width: $screen-md-max) {
    padding-left: 6px;
  }
  @include placeholder-color(#fff);
  @include placeholder-transition();
}