.stock-list__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 15px;
  text-decoration: none;
  display: inline-block;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}