.feedback {
  font-size: 11px;
  font-weight: 300;
  position: relative;
  padding-left: 25px;
  color: #00a857;
  display: block;
  line-height: 1;
  &:before {
    content: '';
    background: url("../../../images/feedback.png") no-repeat;
    width: 18px;
    height: 22px;
    position: absolute;
    left: 0;
  }
  &:hover,
  &:focus {
    color: #00a857;
    text-decoration: none;
  }
}