.sidebar-flying {
  display: none;
  color: #fff;
  width: 300px;
  position: fixed;
  padding: 30px;
  left:0;
  top:0;
  bottom:0;
  background: #252525;
  z-index: 12;
  box-shadow: 0 0 0px #000;
  transform: translateX(-300px);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  a {
    color: #fff;
  }
  @media (max-width: $screen-xs-max) {
    display: block;
    transform: translateX(-300px);
  }
}