.dropdown_user {
  text-align: right;
  @media (max-width: $screen-xs-max) {
    float: right;
    padding-right: 15px;
  }
  .dropdown-menu{
    right: 0;
    left: auto;
    margin-right: -2px;
    &:before {
      left: auto;
      right: 24px;
    }
  }
  .dropdown__toggle {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
    position: relative;
    span {
      border-bottom: 1px dashed #fff;
    }
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      background: url("../../../../images/user.png");
      width: 15px;
      height: 19px;
      left: 0;
    }
    &:after {
      content: "\f078";
      font-family: FontAwesome;
      margin-left: 3px;
      font-size: 10px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      span {
        border-bottom: 0;
      }
    }
  }
  &.open> .dropdown__toggle {
    &:after {
      content: "\f077";
    }
  }
}