.product-control__bonus {
  display: inline-block;
  font-size: 14px;
  padding: 5px 23px 5px 15px;
  border: 1px dashed $brand-primary;
  border-radius: 6px;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 14px;
  color: $brand-primary;
  line-height: 1.2;
  font-weight: bold;
}