.slider-main__arrow_left {
  background: url("../../../../../images/slider-main/left.png") no-repeat left top;
  left: 50%;
  margin-left: -540px;
  @media (max-width: $screen-md-max) {
    margin-left: -440px;
  }
  @media (max-width: $screen-sm-max) {
    margin-left: -340px;
  }
  @media (max-width: $screen-xs-max) {
    margin-left: 0;
    left: 18px;
    width: 20px;
    background-size: contain;
    height: 32px;
    margin-top: -30px;
  }
}