.collection-list__li_primary {
  border-radius: 12px;
  color: #d00;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    left: -5px;
    right: 0;
    top: 0;
    bottom: -1px;
    border-radius: 11px;
    z-index: -1;
    @media (max-width: $screen-sm-max) {
      max-width: 250px;
    }
    @media (max-width: $screen-xs-max) {
      left: 50px;
      right: 50px;
      max-width: 100%;
    }
  }
  &:after {
    content: "\f111";
    font: normal normal normal 13px/1 FontAwesome;
    position: absolute;
    right: 7px;
    top: 6px;
    @media (max-width: $screen-sm-max) {
      left: 224px;
    }
    @media (max-width: $screen-xs-max) {
      right: 58px;
      left: auto;
    }
  }
  a {
    color: #ef0e29;
  }
}