.quick-view__col_for {
  &_slider {
    width: 56%;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
  &_control {
    width: 44%;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}