.search-popover__link-img {
  color: #303030;
  text-decoration: underline;
  display: block;
  margin-bottom: 15px;
  vertical-align: middle;
  position: relative;
  &:hover {
    text-decoration: none;
    color: #303030;
  }
  >img {
    max-width: 120px;
    margin-right: 20px;
    max-height: 120px;
    float: left;
  }
}