.card_catalog {
  .card__top {
    @media (min-width: $screen-lg-min) {
      min-height: 216px;
    }
  }
  .card__bottom {
    transform: translateY(0px) rotateX(-14deg) translateZ(-11px);
    @media (max-width: $screen-xs-max) {
      transform: translateY(0px) rotateX(0deg) translateZ(0px);
    }
  }
  .card__new {
    background-size: contain;
    width: 72px;
    top: 3px;
    @media (max-width: $screen-xs-max) {
      width: 50px;
      top: 14px;
    }
  }
  .card__favorites {
    background-image: url('../../../../images/card/favorites_small.png');
    top: 28px;
    right: 15px;
    width: 20px;
    height: 21px;
  }
  .card__mid {
    height: 101px;
  }
  .card__caption {
    padding-top: 10px;
    height: 42px;
  }
  .card__title-link {
    font-size: 14px;
  }
  .card__price {
    font-size: 23px;
    font-weight: 900;
  }
  .card__bonus span {
    font-size: 9px;
    padding: 2px 5px;
  }
}