.menu__item_color {
  &_one {
    .menu__link {
      background: #ef0e29;
      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
        background: #d20921;
      }
    }
  }
  &_two {
    .menu__link {
      background: #00a651;
      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
        background: #00813e;
      }
    }
  }
}
