.menu__catalog {
  display: none;
  @media (max-width: $screen-sm-max) {
    display: block;
  }
  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    float: left;
    width: 50%;
  }
  @media (max-width: $screen-xs-max) {
    border-bottom: 1px dashed #4c4c4c;
  }
}