.slider-reviews__arrow_left {
  background: url("../../../../../images/slider-main/left.png") no-repeat;
  left: 50%;
  margin-left: -566px;
  background-size: contain;
  @media (max-width: $screen-md-max) {
    margin-left: -467px;
  }
  @media (max-width: $screen-sm-max) {
    margin-left: -355px;
  }
  @media (max-width: $screen-xs-max) {
    left: 20px;
    margin-left: 0;
  }
}