.icon-bar__item {
  $icon-bar-bg: #fff;
  display: block;
  height: 2px;
  width: 17px;
  background: $icon-bar-bg;
  position: absolute;
  top: 2px;
  &:before {
    content: '';
    display: block;
    height: 2px;
    width: 17px;
    background: $icon-bar-bg;
    margin-top: 2px;
    top: 3px;
    position: absolute;
  }
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 17px;
    background: $icon-bar-bg;
    position: absolute;
    top: 10px;
  }
}