.selection-block__vertical-letter {
  position: absolute;
  right: 0;
  top: 13px;
  width: 67px;
  background: #383838;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}